<a href="https://colab.research.google.com/github/TharinduNilanga/CSS-Assignment-1/blob/master/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
def calc_area():
 print('Area Calculation')
calc_area();

Area Calculation

In [7]:
def calc_area(a,b):
  print("Area Calculation",a,b)
calc_area(1,2);

Area Calculation 1 2

In [8]:
def calc_area(a=0,b=0):
  print("Area Calcualtion",a,b)
calc_area(2,4)

Area Calcualtion 2 4

In [10]:
def cal_area(a=0,b=0):
  print("Area calculation")
print(calc_area)
print(type(calc_area))

<function calc_area at 0x7f08b6fed5e0>
<class 'function'>

In [11]:
def calculation(a,b):
  return a*b
calculation(10,20)

200

In [14]:
def calc_rectaingle(a,b):
  return a*b
def calc_traingle(a,b):
  return a*b/2
print("Rectraingle Area",calc_rectaingle(10,20))
print("traingle Area",calc_traingle(10,20))

Rectraingle Area 200
traingle Area 100.0

In [15]:
def calc_rectaingle(a,b):
  return a*b
def calc_traingle(a,b):
  return a*b/2
def area_calculator(a,b,calculator):
  area=calculator(a,b)
  print("Area",area,"Using",calculator)
area_calculator(10,20, calc_rectaingle)
area_calculator(10,20, calc_traingle)

Area 200 Using <function calc_rectaingle at 0x7f08b70af5e0>
Area 100.0 Using <function calc_traingle at 0x7f08b70afd30>

In [16]:
def func_a(*args,**kwargs):
  print(args)
  print(kwargs)
func_a(2,5,20,"7894",name="sample")

(2, 5, 20, '7894')
{'name': 'sample'}

In [23]:
def func_b(a=0,b=0,c=0,d=0):
  print("a=",a)
  print('b=',b)
  print('c=',c)
  print('d=',d)
func_b(1,2,3,4)

a= 1
b= 2
c= 3
d= 4

In [25]:
func_b(1,2,0,7)

a= 1
b= 2
c= 0
d= 7

In [26]:
def func_c(a=0,b=0,c=0,d=0,*args,**kwargs):
  print("a=",a)
  print("b=",b)
  print("c=",c)
  print("d=",d)
  print("args=",args)
  print('kwargs=',kwargs)
func_c(d=5)

a= 0
b= 0
c= 0
d= 5
args= ()
kwargs= {}

In [27]:
func_c(3,4,5,6,7,d=9,ab=39)

TypeError: ignored

In [28]:
func_c(1,2,3,4,5)

a= 1
b= 2
c= 3
d= 4
args= (5,)
kwargs= {}

In [29]:
func_c(1,3,4,5,6,6,name="samp")

a= 1
b= 3
c= 4
d= 5
args= (6, 6)
kwargs= {'name': 'samp'}

In [31]:
def a():
  print("a")

  def b():
    print("b")
  b()
  
  
a()

a
b

In [32]:
def a():
  print("a")

  def b():
    print("b")
  return b
  
a()

a

In [34]:
a()()

a
b

In [35]:
def a():
  print("a")

  def b():
    print("b")

    def c():
      print("c")
    return c
  return b
  
a()

a

In [38]:
def a(a):
  print("a",a)

  def b(b):
    print("b",b)

    def c(c):
      print("c",c)
    return c
  return b
  
a(1)

a 1

In [39]:
a(1)(2)

a 1
b 2

In [40]:
a(2)(2)(4)

a 2
b 2
c 4

In [45]:
def plus_cal(a,b):
  
  def _cal():
    return a+b
  if a>10 and b>10:
    return _cal
  else:
    return None
plus_cal(11,20)()

31

In [46]:
import datetime

def hello_1():
  print(datetime.datetime.now())
  print("hello 1")
def hello_2():
  print(datetime.datetime.now())
  print('hello 2')

hello_1()
hello_2()

2023-02-25 04:01:52.141746
hello 1
2023-02-25 04:01:52.143900
hello 2

In [48]:
import datetime

def log(func):
  def wrapper():
    print(datetime.datetime.now() , end=":")
    func()
  return wrapper

def hello_1():
  print('hello 1')

def hello_2():
  print('hello 2')

hello_1()
hello_2()

hello 1
hello 2

In [49]:
log(hello_1)()
log(hello_2)()

2023-02-25 04:09:47.565532:hello 1
2023-02-25 04:09:47.567001:hello 2

In [61]:
import datetime

def log2():
  def hello_1():
    print('Hello 1')
  func = hello_1
  def wrapper():
    print(datetime.datetime.now() , end=" :")
    func()
  return wrapper
log2()

In [57]:
import datetime

def log(func):
  def wrapper():
    print(datetime.datetime.now() , end=": ")
    func()
  return wrapper

@log
def hello_1():
  print("hello 1")

@log
def hello_2():
  print("hell0 2")

hello_1()

2023-02-25 04:19:27.678957: hello 1

In [63]:
import datetime

def time_stamp(func):
  def wrapper():
    print(datetime.datetime.now() , end=": ")
    func()
  return wrapper

@time_stamp
def hello_1():
  print("hello 1")

@time_stamp
def hello_2():
  print("hello 2")

In [ ]:
try:
  a=10/0
except:
  print('Invalid Operation')

public class JavaExceptionExample{  
  public static void main(String args[]){  
    try{  
      int data=10/0;  
    }catch(ArithmeticException e){
     System.out.println(e);
    }
   System.out.println("rest of the code...");  
  }  
}

In [65]:
try:
  a=10/0
except Exception as error:
  print("Invalid Eperation",error)

Invalid Eperation division by zero

In [66]:
def devide(a,b):
  return a/b

devide(10,0)

ZeroDivisionError: ignored

In [67]:
def devide(a,b):
  try:
    return a/b
  except Exception as error:
    print('Invalid Operation ', error )
    return None


devide(10,0)

Invalid Operation  division by zero

In [74]:
def handle_exception(func):
  def wrapper():
    try:
      return func()
    except Exception as error:
      print("Invalid Operation",error)
      return None
  return wrapper

@handle_exception
def devide(a,b):
  return a/b

devide(10/0)

ZeroDivisionError: ignored

In [76]:
def handle_exception(func):
  def wrapper(*args,**kargs):
    try:
      return func(*args,**kwargs)
    except Exception as error:
      print("invalid Operation ",error)
      return None
    
  return wrapper

@handle_exception
def devide(a,b):
  return a/b
@handle_exception
def devide_c(a,b,c):
  return (a/b)/c
print(devide(10,4))
print(devide(10,0))

devide_c(10,2,0)

invalid Operation  name 'kwargs' is not defined
None
invalid Operation  name 'kwargs' is not defined
None
invalid Operation  name 'kwargs' is not defined

In [ ]:
name='nilanga'

In [1]:
student={
    "name":"amal",
    'age':12,
    'address':{
        'country':'srilanka',
        'city':'horana'
    }
}
print(student['name'])

amal

In [2]:
print(student)

{'name': 'amal', 'age': 12, 'address': {'country': 'srilanka', 'city': 'horana'}}

In [3]:
student={}
print(student)

{}

In [4]:
student['name']='jame'
print(student)

{'name': 'jame'}

In [5]:
a={1,2,3,4,5}
print(a)
print(type(a))

{1, 2, 3, 4, 5}
<class 'set'>

In [6]:
a=[1,2,3,4,5]
print(a)
print(type(a))

[1, 2, 3, 4, 5]
<class 'list'>

In [7]:
a=(1,2,3,4,5)
print(a)
print(type(a))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [8]:
a_list=[1,2,3,4]
a_tuple=(1,2,3,4)

In [9]:
print(a_list[0])
print(a_tuple[0])

1
1

In [12]:
a_list[0]=10
a_tuple[0]=20
print(a_list[0])
print(a_tuple[0])

TypeError: ignored

In [14]:
print(*a_list)
print(*a_tuple)

10 2 3 4
1 2 3 4

In [16]:
a_tuple=(11,*a_tuple)
print(a_tuple)

(11, 10, 1, 2, 3, 4)

In [17]:
first,*no_used,last=a_tuple
print(first,last)
print(no_used)

11 4
[10, 1, 2, 3]

In [18]:
ages=[8,2]
st1,st2=ages
print(st1,st2)

8 2

In [19]:
student_detail={
    'grade':10,
    'age':12
}
student_one={
    'student':student_detail,
    'name':'kasun',
    'grade':10
}
print(student_one)

{'student': {'grade': 10, 'age': 12}, 'name': 'kasun', 'grade': 10}

In [20]:
for data in a_tuple:
  print(data)

11
10
1
2
3
4

In [21]:
for data in a_list:
  print(data)

10
2
3
4

In [22]:
for key,value in student_one.items():
  print(key,value)

student {'grade': 10, 'age': 12}
name kasun
grade 10

In [23]:
tuple(reversed(a_tuple))

(4, 3, 2, 1, 10, 11)

In [59]:
import random


def ladder():
  start_position=0
  end_position=100

  player_marks=0

  while start_position<100:
          roll=random.randint(1,6)
          start_position += roll
          print("value",start_position)

          if start_position==10:
            start_position =5
          elif start_position==25:
            start_position=20
          elif start_position == 30:
            start_poition += 10
          elif start_position==45:
            start_position=30
          elif start_position == 60:
            start_poition += 20
          elif start_position==85:
            start_position=50
          elif start_position == 90:
            start_poition += 10
          print("value if",start_position)

ladder()

value 2
value if 2
value 7
value if 7
value 10
value if 5
value 8
value if 8
value 12
value if 12
value 13
value if 13
value 16
value if 16
value 17
value if 17
value 23
value if 23
value 26
value if 26
value 31
value if 31
value 37
value if 37
value 39
value if 39
value 40
value if 40
value 45
value if 30
value 34
value if 34
value 39
value if 39
value 42
value if 42
value 45
value if 30
value 34
value if 34
value 38
value if 38
value 39
value if 39
value 44
value if 44
value 45
value if 30
value 33
value if 33
value 36
value if 36
value 39
value if 39
value 45
value if 30
value 34
value if 34
value 39
value if 39
value 42
value if 42
value 43
value if 43
value 45
value if 30
value 34
value if 34
value 37
value if 37
value 38
value if 38
value 42
value if 42
value 43
value if 43
value 46
value if 46
value 51
value if 51
value 52
value if 52
value 58
value if 58
value 64
value if 64
value 68
value if 68
value 69
value if 69
value 74
value if 74
value 78
value if 78
value 82
value if 82
value 84
value if 84
value 87
value if 87
value 93
value if 93
value 96
value if 96
value 101
value if 101

In [25]:
i=0
while i<10:
  print('runs')
  i+=1

runs
runs
runs
runs
runs
runs
runs
runs
runs
runs

OOP

public void A{
  public void a(){
  }
}
public class Main{

  public static void main(string args[]){
    A a=new A();
    Sysytem.out.print(a)
    System.out.print(a.getClass())
  }
}

In [60]:
class A:
  pass
a=A()
print(a)
print(type(a))

<__main__.A object at 0x7f481db0aa90>
<class '__main__.A'>

In [63]:
class A:
 def a(selfObj):
   print('A')
   print(selfObj)
a=A()
print(a)
a.a()

<__main__.A object at 0x7f481dadb5e0>
A
<__main__.A object at 0x7f481dadb5e0>

In [65]:
class A:
  pass

def a_func(self):
  print(self)

a=A()
a_func(a)

<__main__.A object at 0x7f4832065d30>

In [66]:
class A:
  class_var="Name"
  
  def a(self):
    print(self.class_var)
A().a()

Name

In [67]:
class calculator:
  def add(self,x,y):
    return x+y
calculator().add(10,20)

30

cannot use self here

In [68]:
class calculator:

  @staticmethod
  def add(x,y):
    return x+y
calculator().add(10,20)

30

constructor

In [70]:
class A:
  name:"_"
  def __init__(self,name):
    print("A constructor")
    self.name = name
    print("name set ",name)

A("Test")
A("Test2")

A constructor
name set  Test
A constructor
name set  Test2

In [72]:
class  A:
  def a(self):
    print(self,"hello Class A")
class B:
  def b(self):
    print(self,"hello class B")

A()
B()

In [76]:
dir(A)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'a']

In [79]:
class A:
  name:"_"
  def __init__(self,name):
    print("A constructor")
    self.name = name
    print("name set ",name)
  def __str__(self) :
    print("Test A")
    return "Test str method"


print(A("Test"))

A constructor
name set  Test
Test A
Test str method

In [84]:
class Parent:
  def __init__(self):
    print('Parent')
class Child:

  def __init__(self):
    print("child")
print(Parent())
print(Child())

Parent
<__main__.Parent object at 0x7f4832065160>
child
<__main__.Child object at 0x7f4832065ca0>

In [83]:
class Parent:
  def __init__(self):
    print('Parent')
class Child(Parent):

  def __init__(self):
    print("child")
print(Parent())
print(Child())

Parent
<__main__.Parent object at 0x7f4832065e80>
child
<__main__.Child object at 0x7f4832065c10>

In [85]:
class Parent:
  def __init__(self):
    print('Parent')
class Child(Parent):

  def __init__(self):
    super().__init__()
    print("child")
print(Parent())
print(Child())

Parent
<__main__.Parent object at 0x7f481db85550>
Parent
child
<__main__.Child object at 0x7f481db85d90>

In [86]:

class Rectraingle:
  def __init__(self,length,width):
    self.length=length
    self.width=width
  def area(self):
    return self.length * self.width
rec = Rectraingle(10,4)
print("Rectangle Area ",rec.area())

Rectangle Area  40

In [88]:
class Square(Rectraingle):

  def __init__(self,length):
    super().__init__(length,length)

square = Square(100)
print("Square Area ",square.area())

Square Area  10000

In [91]:
class cube(Square):
  def surface_area(self):
    area=self.area()
    return area* 6

cu=cube(10)
print("cube surf area",cu.surface_area())

cube surf area 600

In [92]:
class cube(Square):
  def surface_area(self):
    area=super().area()
    return area* 6

cu=cube(10)
print("cube surf area",cu.surface_area())

cube surf area 600